.background {
  position: relative;
  background: url("https://images.unsplash.com/photo-1512418490979-92798cec1380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1330&q=80");
  object-fit: cover;
  background-repeat: no-repeat;
  left: 0 px;
  height: 550px;
  width: 1330;
}

.logout {
  position: absolute;
  top: 10px;
  right: 30px;
  padding: 10px;
  border: 2px solid #3e6b89;
}

.btn {
  background-color: white;
  color:  #3e6b89;
}

.how-it-works {
  position: absolute;
  background: white;
  top: 60px;
  right: 45px;
  height: 425px;
  width: 360px;
}

.home-ul {
  list-style-type: none;
}

.login-li {
  display: inline;
  text-align: right;
}

.signup-li {
  display: inline;
  text-align: right;
}

.welcome {
  position: absolute;
  top: 20px;
  left: 46px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #3e6b89;
}

.giving {
  position: relative;
  top: 60px;
  left: 39px;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  color: #3dd2cc;
}

footer {
  height: 50px;
}

.glyphicon {
  color:  #3e6b89;
}

.create-new {
  background-color:  #3dd2cc;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.welcome-user {
  position: absolute;
  top: 20px;
  left: 46px;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: #3e6b89;
}

.invites-to-groups {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #122D42;
  border-bottom: 2px solid #122D42;
  letter-spacing: 3px;
  padding: 10px;
}

.group-invite {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group-invite li {
  padding-left: 10px; 
  text-indent: 3px;
  line-height: 2.5;
}

.group-invite li::before {
  content: "■"; font-family:"Arial Black";
  color: #3dd2cc; 
  padding-right: 20px;
}

.accept {
  background-color: #3e6b89;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 1px 1px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  width: 75px;
  margin: 10px;
}

.decline {
  background-color: white;
  color: #3e6b89;
  border: 2px solid #3e6b89;
  border-radius: 2px;
  text-align: center;
}

.user-page-gift {
  position: absolute;
  bottom: 15px;
  left: 46px;
}

.group-div {
  position: absolute;
  top: 100px;
  left: 20px;
}

.group-members-title {
  color: #3dd2cc;
  border-bottom: 2px solid #3dd2cc;
  padding: 5px;
}

.group-member-ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.post-div {
  position: absolute;
  top: 115px;
  left: 400px;
}

.post-wrapper {
  display: grid;
  grid-template-columns: 300px; 
  grid-auto-rows: auto;
  row-gap: 7px;
}

.single-post {
  word-wrap: break-word;
  padding: 3px;
  border: 1px solid #3dd2cc;
  border-radius: 3px;
}

.post-user {
  color:  #3e6b89;
}

.add-post-div {
  padding-top: 5px;
}

.textarea-post {
  width: 300px;
  height: 100px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid #3e6b89;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}

.add-comment {
  float: right;
	background-color: #3e6b89;
	border-radius:4px;
	cursor:pointer;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	padding: 5px 11px;
}

.gift-div {
  position: absolute;
  top: 100px;
  left: 800px;
}

.delete-group {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.home-gift-one {
  display: inline-block;
  padding: 5px;
}

.home-polka-dot {
  display: inline-block;
  padding: 5px;
}

.home-gift-bottle {
  display: inline-block;
  padding: 5px;
}