.background {
  position: relative;
  background: url("./images/leone-venter-mTkXSSScrzw-unsplash.jpg");
  background-position: left 10px top -160px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 3 px;
  top: 65px;
  height: 641px;
  width: 100%;
}

.logout {
  position: absolute;
  top: 10px;
  right: 30px;
  padding: 10px;
  border: 2px solid #3e6b89;
}

.btn {
  background-color: white;
  color: #3e6b89;
}

.how-it-works {
  position: absolute;
  background: white;
  top: 55px;
  left: 1200px;
  height: 529px;
  width: 435px;
}

.home-ul {
  list-style-type: none;
}

.login-li {
  display: inline;
  text-align: right;
}

.signup-li {
  display: inline;
  text-align: right;
}

.welcome {
  position: absolute;
  top: 12px;
  left: 85px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #3e6b89;
  padding-bottom: 10px;
}

.giving {
  position: relative;
  top: 70px;
  left: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  color: #3dd2cc;
}

.get-started-div {
  position: absolute;
  left: 790px;
  top: 55px;
}

footer {
  height: 50px;
}

.glyphicon {
  color: #3e6b89;
}

.create-new {
  background-color: #3dd2cc;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.welcome-user {
  position: absolute;
  top: 20px;
  left: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #3e6b89;
}

.invites-to-groups {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #122d42;
  border-bottom: 2px solid #122d42;
  letter-spacing: 3px;
  font-size: 40px;
  padding: 10px;
}

.group-invite {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.group-invite li {
  padding-left: 10px;
  text-indent: 3px;
  line-height: 2.5;
}

.group-invite li::before {
  content: "■";
  font-family: "Arial Black";
  color: #3dd2cc;
  padding-right: 20px;
}

.accept {
  background-color: #3e6b89;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 1px 1px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  width: 75px;
  height: 45px;
  margin: 10px;
}

.decline {
  background-color: white;
  color: #3e6b89;
  border: 2px solid #3e6b89;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  width: 75px;
  height: 45px;
  margin: 10px;
  font-weight: bold;
}

.user-page-gift {
  position: absolute;
  bottom: 15px;
  left: 46px;
}

.group-div {
  position: absolute;
  top: 150px;
  left: 100px;
}

.group-members-title {
  color: #3dd2cc;
  border-bottom: 2px solid #3dd2cc;
  padding: 5px;
  font-size: 35px;
}

.group-member-ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

.post-div {
  position: absolute;
  top: 150px;
  left: 500px;
}

.list-posts-div {
  height: 400px;
  overflow-y: scroll
}

.post-wrapper {
  display: grid;
  grid-template-columns: 350px;
  grid-auto-rows: auto;
  row-gap: 7px;
}

.single-post {
  word-wrap: break-word;
  padding: 3px;
  border: 1px solid #3e6b89;
  border-radius: 3px;
}

.post-user {
  color: #3e6b89;
}

.add-post-div {
  padding-top: 6px;
}

.textarea-post {
  width: 350px;
  height: 80px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid #3e6b89;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
}

.add-comment {
  float: right;
  background-color: #3e6b89;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 5px 11px;
}

.gift-div {
  position: absolute;
  top: 150px;
  left: 1050px;
}

.delete-group {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.home-gift-one {
  position: absolute;
  bottom: 70px;
  left: 160px;
  padding: 5px;
}

.home-polka-dot {
  position: absolute;
  bottom: 70px;
  left: 225px;
  padding: 5px;
}

.home-gift-bottle {
  position: absolute;
  bottom: 70px;
  left: 280px;
  padding: 5px;
}

.send-a-gift {
  position: absolute;
  bottom: 20px;
  left: 70px;
  width: 350px;
  text-align: center;
  color: #3dd2cc;
}

.works {
  color: #3e6b89;
  position: absolute;
  top: 30px;
  left: 148px;
  font-size: 25px;
  font-weight: 500;
}

.one {
  position: absolute;
  top: 100px;
  left: 25px;
}

.two {
  position: absolute;
  top: 250px;
  left: 25px;
}

.three {
  position: absolute;
  top: 400px;
  left: 25px;
}

.start {
  color: #3dd2cc;
  position: absolute;
  top: 80px;
  left: 70px;
  font-size: 23px;
  font-weight: bold;
}

.account {
  color: #3e6b89;
  position: absolute;
  top: 115px;
  left: 70px;
  padding-right: 10px;
  font-size: 17px;
}

.contribute {
  color: #3dd2cc;
  position: absolute;
  top: 230px;
  left: 70px;
  font-size: 23px;
  font-weight: bold;
}

.everyone {
  color: #3e6b89;
  position: absolute;
  top: 265px;
  left: 70px;
  padding-right: 10px;
  font-size: 17px;
}

.three-title {
  color: #3dd2cc;
  position: absolute;
  top: 385px;
  left: 70px;
  font-size: 23px;
  font-weight: bold;
}

.three-desc {
  color: #3e6b89;
  position: absolute;
  top: 420px;
  left: 70px;
  padding-right: 10px;
  font-size: 17px;
}

.poll {
  position: absolute;
  bottom: 74px;
  left: 785px;
}

.post-gift-ideas {
  color: #3e6b89;
  position: absolute;
  bottom: 20px;
  left: 685px;
  width: 300px;
  text-align: center;
}

.calculator {
  position: absolute;
  bottom: 53px;
  left: 1400px;
}

.set-a-budget {
  color: #3dd2cc;
  position: absolute;
  bottom: 20px;
  left: 1275px;
  width: 300px;
  text-align: center;
}

.new-group-button {
  position: relative;
  top: 500px;
  left: 300px;
}

.add-a-gift-idea {
  position: relative;
  top: 30px;
  background-color: white;
  color: #3dd2cc;
  border: 2px solid #3dd2cc;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
}

.far {
  color: #3dd2cc;
  font-size: 25px;
}

.fas {
  color: #3dd2cc;
  font-size: 25px;
}

.gifts-for {
  border-bottom: 1px solid #3e6b89;
  color: #3e6b89;
  text-align: center;
  padding: 10px;
}

.gift-name {
  position: "relative";
  margin-left: 15px;
  font-size: 20px;
}

.gift-price {
  float: right;
  margin-right: 10px;
}

.like-gift {
  position: "relative";
  padding-top: 10px;
  padding-left: 30px;
}

.likes-text {
  font-size: 20px;
  margin-left: 10px;
}

.add-gift-mod {
  padding: 25px;
}

.choose-recipient {
  padding-right: 7px;
  font-size: 20px;
  font-weight: bold;
}

.radio-recipient {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.add-gift-description {
  width: 100%;
  height: 100px;
  padding: 8px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.gift-btn-mod {
  background-color: #3e6b89;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
a {
  margin-left: 30px;
}
a:link {
  color:#3e6b89;
}

a:visited {
  color: #3dd2cc;
}

.gift-description {
  width: 550px;
  margin-left: 30px;
}

.display-gift-card {
  padding: 15px
}

.create-group-title {
  color: #3e6b89;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
  position: 'absolute';
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid #3e6b89;
}

.enter-name {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

input.group-name {
  margin-left: 10px;
  width: 450px;
  font-size: 20px;
}

.dropdown {
  font-size: 20px;
  background-color: white;
  margin-left: 10px;
}

.select-event {
  font-size: 20px;
  padding-left: 70px;
}

.add-members {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

input.group-member {
  margin-left: 10px;
  width: 300px;
  font-size: 20px;
}

.add-btn {
  color: #3e6b89;
  background-color: white;
  border: 1px solid #3e6b89;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 20px;
}

ul.create-group {
  position: 'relative';
  margin-left: 100px;
  list-style-type: none
}

.create-group li {
  text-indent: 3px;
  line-height: 2;
  font-size: 20px;
}

.create-group li::before {
  content: "■";
  font-family: "Arial Black";
  color: #3dd2cc;
  padding-right: 20px;
}

.create-group-btn {
  position: absolute;
  top: 400px;
  left: 1000px;
  background-color: white;
  border: 2px solid #3e6b89;
  color: #3e6b89;
  padding: 32px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
}

.create-group-btn:hover {
  background-color: #3e6b89;
  color: white;
}

.directions {
  width: 300px;
  position: absolute;
  top: 300px;
  text-align: center;
  left: 965px;
}

.create-page-gift {
  position: absolute;
  bottom: 15px;
  left: 46px;
}

.add-recipient-group-name {
  position: absolute;
  top: 20px;
  left: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #3e6b89;
}

.added-recipient {
  position: relative;
  left: 60px;
  top: 170px;
}

span.name {
  position: relative;
  font-size: 20px;
}

span.date {
  position: relative;
  left: 20px;
}

span.relationship {
  position: relative;
  left: 80px;
}

div.budget {
  position: relative;
  left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.interests {
  position: relative;
  left: 10px;
  width: 300px;
  padding-bottom: 10px;
}

div.notes {
  position: relative;
  left: 10px;
}

.form-recipient {
  position: relative;
  top: 200px;
  padding-left: 20px;
}

label.who {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

input.who {
  margin-left: 10px;
  width: 300px;
  font-size: 20px;
}

label.date {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

input.date {
  margin-left: 10px;
  width: 200px;
  font-size: 20px;
}

label.related {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

input.related {
  margin-left: 10px;
  width: 200px;
  font-size: 20px;
}

label.budget {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

input.budget {
  margin-left: 10px;
  width: 200px;
  font-size: 20px;
}

label.hobbies {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

.hobbies {
  width: 450px;
  height: 70px;
  padding: 8px 10px;
  margin-right: 40px;
  margin-bottom: 0px;
  box-sizing: border-box;
  border-color: #ccc;
  border-radius: 4px;
  resize: none;
}

label.add-recipient-notes {
  font-size: 20px;
  padding-left: 50px;
  padding-top: 30px;
}

.add-recipient-notes {
  width: 300px;
  height: 70px;
  padding: 8px 15px;
  box-sizing: border-box;
  border-color: #ccc;
  border-radius: 4px;
  resize: none;
}

.add-another {
  background-color: white; 
  border: 2px solid #3e6b89;
  border-radius: 4px;
  color: #3e6b89;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 60px;
}

.submit-recipient {
  background-color: white; 
  border: 2px solid #3e6b89;
  border-radius: 4px;
  color: #3e6b89;
  padding: 32px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 800px;
}

.submit-recipient:hover {
  background-color: #3e6b89;
  color: white;
}

.recipient-page-gift{
  position: absolute;
  bottom: 15px;
  left: 46px;
}

.add-another-directions {
  position: relative;
  top: 15px;
  width: 300px;
  left: 40px;
  text-align: center;
}

.directions-page-recipient {
  width: 570px;
  left: 60px;
  position: absolute;
  top: 100px;
}

.budget-for-gifts {
  position: absolute;
  top: 130px;
  left: 1000px;
  font-size: 20px;
  border-style: double;
  padding: 10px 20px;
  border-color: #3dd2cc;
  border-radius: 4px;
}

.error {
  position: absolute;
  left: 700px;
  top: 5px
}
